<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoParis2024</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 text-gray-800">
    <div th:insert="~{parts/header}"></div>

    <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest" th:text="${event.sport}"></h2>
            <h1 th:text="${event.title}"class="text-gray-900 text-3xl title-font font-medium mb-1"></h1>
            <div class="flex mb-4">

            </div>
            <p th:text="${event.description}" class="leading-relaxed"></p>
            <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">

            </div>
            <div class="flex">
                <form th:action="@{/event/addToCart}" method="post">
                    <fieldset class="mb-5">
                        <legend class="title-font font-medium text-2xl text-gray-900 mb-3">Choisir une formule</legend> 
                        <div class="mb-5">
                        <input type="radio" id="solo" name="ticketType" value="1" checked/>
                            <span th:text="${event.price}+'0 €'" class="title-font font-medium text-2xl text-gray-900">€</span>
                            <label for="solo" class="ml-3 title-font font-medium text-2xl text-gray-900">Solo (1 Ticket)</label>
                        </div>
                        <div class="mb-5">
                        <input type="radio" id="duo" name="ticketType" value="2" />
                            <span th:text="${event.price*2*0.9}+'0 €'" class="title-font font-medium text-2xl text-gray-900">€</span>
                            <label for="duo" class="ml-3 title-font font-medium text-2xl text-gray-900">Duo (2 Tickets)</label>
                        </div>
                        <div class="mb-5">
                        <input type="radio" id="famille" name="ticketType" value="4"/>
                            <span th:text="${event.price*4*0.8}+'0 €'" class="title-font font-medium text-2xl text-gray-900">€</span>
                            <label for="famille" class="ml-3 title-font font-medium text-2xl text-gray-900">Famille (4 Tickets)</label>
                        </div>
                        </fieldset>
                        <div class="flex">
                            <input type="hidden" name="eventId" th:value="${event.id}" />
                        </div>
                        <div class="flex">
                        <button type="submit"class="flex ml-auto text-white bg-blue-600 border-0 py-2 px-6 focus:outline-none hover:bg-blue-800 rounded">Ajouter au Panier</button>
                        </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    </section>
</body>

<div th:insert="~{parts/footer}"></div>
</html>