<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoParis2024</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 text-gray-800">
    <div th:insert="~{parts/header}"></div>

</body>

<h1 class="text-center text-3xl font-bold mt-10 mb-10">WORK IN PROGRESS</h1>

<h1>Bienvenue sur votre compte</h1>
    <p>Email : <span th:text="${user.email}"></span></p>

</body>
<div th:insert="~{parts/footer}"></div>
</html>
